
*{margin:0;padding:0}

header{text-align: center;padding:10px;background: #000;}
header input{width:300px;line-height:25px;margin:0 auto;font-size:14px;}
#content{padding:15px}
.arerNot{text-align: center;padding:20px;}